<div id="landing-bckg">
<% include partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <div id="content">

                <h1 id="landing-h1">Rent-a-House</h1>
                <hr id="landing-hr">
                <a class="btn btn-warning" id="landing-btn" href="/vikendice">Pogledaj ponudu vikendica</a>
              </div>
            </div>
        </div>
    </div>

<% include partials/footer %>
</div>